.container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: ;
}

.btn_group{
  width: 400px;
  height: 400px;
  background: linear-gradient(white,green, yellow, red, aqua,purple,white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0  5px black,
  0 0  10px navy;
  border-radius: 50%;
}

.btn_red{
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 5px 2rem;
  color: white;
  margin-bottom: 1rem;
}

.btn_black{
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 2rem;
  color: white;
}